body {
    background: #313c42;
}

.spacing {
    margin: 6vh auto 0;
    width: 300px;
    height: 300px;
}

.col-xs-6 {
    height: 50%;
    border-radius: 12px;
}

.col-xs-12 {
    height: 50%;
    padding: 0;
}

.green,
.red {
    height: 100%;
}

#white {
    cursor: default;
    background: #fbfcfc;
    width: 50px;
    height: 50px;
    border-radius: 12px;
    position: absolute;
    left: 39%;
    top: 87.5px;
    text-align: center;
    font-size: 36px;
    z-index: 2;
    border: 2px solid black;
    margin-top: 37px;
    margin-left: 7px;
}

.green {
    background: #0a0;
    border: 2px solid black;
    
}

.green-active{
    background: darkgreen !important;
    border: 2px solid black;
    height: 100%;
}


.red {
    background: red;
    border: 2px solid black;
}

.red-active{
    background: darkred !important;
    border: 2px solid black;
    height: 100%;
}

.yellow {
    background: yellow;
    border: 2px solid black;
}

.yellow-active{
    background: #e6d47e !important;
    border: 2px solid black;
}

.blue {
    background: blue;
    border: 2px solid black;
}

.blue-active{
    background: darkblue !important;
    border: 2px solid black;
}

.text {
    position: fixed;
    top: 12.5%;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 300px;
    text-align: center;
    cursor: default;
    z-index: 5;
}

h1 {
    color: #2c3e50;
    font-size: 84px;
}

.buttons {
    text-align: center;
}

.btn {
    background: #a66abe;
    color: #ecf0f1;
    font-size: 1.6em;
    font-weight: bold;
    margin: 15px 5px;
}

.btn:hover,
.btn:focus,
.btn:active {
    background: #8f44ae;
    color: #ecf0f1;
}

.title{
    font-size: 35px;
    color: white;

}

.author{
    color: white;
    font-size: 11px;
    margin-top: -15px;
    margin-left: 75px;
}

.green{
    cursor: pointer;
}

.red{
    cursor: pointer;
}

.yellow{
    cursor: pointer;
}

.blue{
    cursor: pointer;
}

/*=====HEAD SECTION=====*/

.github {
    font-size: 35px;
    text-decoration: none;
    color: white;
    margin-top: 10px;
    text-decoration: none;
}

.github:hover {
    font-size: 35px;
    text-decoration: none;
    color: white;
    margin-top: 10px;
    text-decoration: none;
}

.start{
    font-size: 20px;
    color: white;
    display: inline-block;
    cursor: pointer;
}