.simon-button {
    height: 48px;
    width: 48px;
    cursor: pointer;
}

#red {
    background: red;
}

#blue {
    background: blue;
}

#yellow {
    background: goldenrod;
}

#green {
    background: green;
}


/*=====HEAD SECTION=====*/

.github {
    font-size: 35px;
    text-decoration: none;
    color: black;
    margin-top: 10px;
    text-decoration: none;
}

.github:hover {
    font-size: 35px;
    text-decoration: none;
    color: black;
    margin-top: 10px;
    text-decoration: none;
}